footer
	nav
		a(href="mentions-legales.html") Mentions légales
		a(href="statuts.html") Statuts de l'association
		a(href="reglement-interieur.html") Réglement intérieur
		a(href="presse.html") Espace presse
		a FAQ
		a Plan du site

	#partenaire
		.col Certifications
			a HTML 5
			a CSS 3

	#contact
		h3 Contact
		a Facebook
		a Twitter
		a Github
		a Diaspora*
		a Flux RSS
		form
			label Rester informé
			input(placeholder="Saisissez votre email")
			input(type="submit")
		a.button Adhérer

		a contact@contribulibre.fr
