bleuLogo=#2a7fff //2299ff 22ccff
orangeLogo=#ff7f2a //ff9922 ffbb22
bleuLogoFiligrane=#e1ecff //e1f1ff e1f8ff
orangeLogoFiligrane=#ffede1 //fff1e1 fff6e1
colorButton=bleuLogo
colorShadow=rgba(0, 0, 0, 0.3)
colorInset=rgba(0, 0, 0, 0.5)
colorDarkText=#444
colorFg1=orangeLogo
colorBg1=white
colorFg2=#6FF
colorBg2=white
colorFgAux=#eee
colorBgAux=linear-gradient(#555, #333)
hauteurTitre=50px
hauteurMenu=70px
largeurMinColonne=200px
marge=25px
nombreColonnes=4
NbColonnesAEviter=((nombreColonnes/2)+1)

*
	margin 0
	padding 0
	border 0
	box-sizing border-box
	font-family sans-serif
	color colorDarkText


.button
	display inline-block
	font-weight bold
	text-align center
	color white
	background colorButton
	border-radius 5px
	margin 5vh auto
	padding 20px
	transition all 0.6s
	&:hover
		background darken(colorButton, 10)
		box-shadow 1px 1px 8px colorShadow
	&:active
		background lighten(orangeLogo, 0) //darken(colorButton, 30)
		box-shadow inset 1px 1px 8px colorInset


[title]
	border-bottom 1px dotted orangeLogo

#menuPrincipal
	position fixed
	display flex
	flex-flow row
	justify-content space-between
	line-height hauteurMenu
	width 100%
	z-index 500
	a
		//background colorBgAux
		background alpha(orangeLogo, 0.3)
		text-decoration none
		//color colorFgAux
		color colorDarkText
		font-weight bold
		display block
		flex 1
		text-align center
		position relative
		transition top 1s;
		border-bottom 0

	svg
		display block
		position relative
		top 0
	#menuSwitch
		flex 0 hauteurMenu
		path
			stroke colorDarkText
#menuPrincipal.show
	#iconShowMenu
		display none
	a
		top 0

#menuPrincipal.hide
	#iconShowMenu
		display block
	#iconHideMenu
		display none
	a
		top - hauteurMenu
//	#menuSwitch
//		top 0
	svg
		position relative
		top hauteurMenu

#accueil
	background linear-gradient(#dff, #ffd)
	min-height "calc(100vh - %s)" % hauteurTitre
	padding-top 0

#splashScreen
	display flex
	width 66%
	height "calc(100vh - %s)" % hauteurTitre
	padding-top hauteurMenu
	text-align center
	flex-direction column
	justify-content center
	img
		max-width 60%
	h2
		padding-top 5vh
		color colorDarkText
		margin-top 0
		position static

aside
	position absolute
	z-index 1
	bottom 0
	right 0
	width 33%
	padding 50px
	padding-bottom 20px
	line-height 20px
	text-align center
	border-top-left-radius 50px
	box-shadow 0 0 50px 0 colorShadow
	background rgba(255, 255, 255, 0.9)
	*
		text-align left
	.button
		margin 3.5vh auto
	h3
		margin-bottom 3.5vh
		text-align center
	ul
		padding-left 30px
	li
		margin 1.75vh 0
@media (min-height: 700px) and (min-width: 1300px)
	aside
		padding-bottom 50px
		line-height 25px
		.button
			margin 1.2*3.5vh auto
@media (min-height: 800px) and (min-width: 1600px)
	aside
		padding-bottom 50px
		line-height 30px
		.button
			margin 1.5*3.5vh auto

#accueil:after
	content ''
	width 67%
	height 50px
	bottom -50px
	position absolute
	z-index 0
	box-shadow 0 0 50px 0 colorShadow

h2
	color colorFg1
section
	background white
	position relative
	min-height "calc(100vh - %s)" % (hauteurTitre + hauteurMenu)
	z-index 2
	padding-top hauteurTitre
	> h2
		line-height hauteurTitre
		text-align center
		margin-bottom 5vh
		margin-top - hauteurTitre - hauteurMenu
		padding-top hauteurMenu
		position absolute
		width 100%
	> ul
		display flex
		flex-wrap wrap
		width 100%

		> li
			display flex
			flex-direction column
			justify-content space-between
			text-align center
			margin marge
			margin-left 5vh
			margin-right 5vh
			flex 1 largeurMinColonne

			li, p
				text-align justify
			> h3
				margin-top 3vh
				margin-bottom 5vh


@media (max-width: largeurMinColonne * nombreColonnes + 2*nombreColonnes*marge ) and (min-width: largeurMinColonne * NbColonnesAEviter + 2*NbColonnesAEviter*marge )
	section > ul > li
		flex 1 largeurMinColonne*1.5










