doctype html
html(lang="fr")
   head
      meta(charset="UTF-8")
      title ContribuLibre

   body
      h1
         img(src='image/logo-contribulibre.png', alt='logo Contribulibre')

      p Création, promotion et financement de projets à buts non lucratifs et libres de droits.




Bien plus qu'une plateforme dr financement participatif(crowdfunding), nous vous apportons la liberté !
La liberté totale pour tous de faire ce que bon vous semble de tout ce qui produit par l'association,
   La liberté de participer à la réalisation des projets que nous adoptons.
   la liberté de prendre part à toutes les décisions de l'association.
   La liberté d'adhérer à l'association, gratuitement, dès maintenant !

   [Rejoignez-nous !]

   p Association pour la création, la promotion et le financement de projets à buts non lucratifs et libres de droits.

   Notre rôle :

   pour les porteurs de projets :
   nous vous accompagnons dans l'évolution de votre projet pour qu'il profite à tous.
   Puis nous l'adoptons pour le propulser vers un financement et une réalisation dans des conditions optimales.
   [Proposez un projet]

   pour les donnateurs :
   Nous mettons à votre disposition des outils de financement ciblés pour donner un maximum de sens à vos dons,
   en vous permettant d'apporter là ou c'est le plus important à vos yeux, sur des projets qui profiterons à tous.
   Et en bonus vous pourrez le déduire de vos impôts.
   [Contribuez maintenant]

   pour les professionels :
   nous vous apportons un système de réservation :
   - qui vous permet de choisir des missions réalisables tout de suite, sans lourdeurs administratives.
   - au budget connu d'avance, versé à coup sûr, pour un travail bien fait, dans les temps.
   - Où seul le résultat compte, pas le budget publicité.
   Validée par la communauté, chaque mission a du sens, et contribue au bien commun.
   [Découvrez votre mission]

   pour les bénévoles :
   nous valorisons vos contributions :
   - en vous confiant toujours le pouvoir de décider collectivement ce qui sera fait dans l'association
   - en accueillant avec bienveillance vos contributions spontanées,
   - en vous créditant des budgets de vos accomplissements, pour les réattribuer librement parmi les missions disponibles
[Participer à l'aventure]
[Engagez-vous, r'engagez-vous, qu'on vous dit !]

Notre fonstionnement

Nos valeurs/nos engagements/notre éthique/philosophie
