doctype html
html(lang="fr")
   head
      meta(charset="UTF-8")
      title ContribuLibre

   body
      h1
         img(src='image/logo-contribulibre.png', alt='logo Contribulibre')
      p Création, promotion et financement de projets à buts non lucratifs et libres de droits.