include fragments/head

doctype html
html(lang="fr")
	+head('Accueil')
	body
		include fragments/menu-accueil
		section#accueil
			#splashScreen
				h1
					img(src='image/logo-contribulibre.png', alt='logo Contribulibre')
				h2 #[span Ensemble]#[span , ]
					span libérons l'innovation
			aside
				h3 Bien plus qu'une plateforme de <span title="crowdfunding">financement participatif</span>, nous vous apportons la liberté !
				ul
					li La liberté totale, pour tous, de faire ce que bon vous semble de tout ce qui est produit par l'association.
					li La liberté de participer à la réalisation des projets que nous adoptons.
					li La liberté de prendre part à toutes les décisions de l'association.
					li La liberté d'adhérer à l'association, gratuitement, dès maintenant !

				a.button Rejoignez-nous !

				p Association pour la création, la promotion et le financement de projets à buts non lucratifs et libres de droits.

		section
			h2#roles Notre rôle
			ul
				li
					h3 #[span pour les] Porteurs de projets
					p Nous vous accompagnons dans l'évolution de votre projet pour qu'il profite à tous.
						| Puis nous l'adoptons pour le propulser vers un financement et une réalisation dans des conditions optimales.

					a.button Proposez un projet
				li
					h3 #[span pour les] Donnateurs
					p Nous mettons à votre disposition des outils de financement ciblés
						//- pour vous permettre de donner, là ou cela à un maximum de sens pour vous
						| pour donner un maximum de sens à vos dons,
						| en vous permettant d'apporter là où c'est le plus important à vos yeux,
						| sur des projets qui profiteront à tous.
						| Et en bonus vous pourrez le déduire de vos impôts.
					a.button Contribuez maintenant

				li
					h3 #[span pour les] Professionels
					p Nous vous apportons un système de réservation :
					ul
						li qui vous permet de choisir des missions réalisables tout de suite, sans lourdeurs administratives.
						li au budget connu d'avance, versé à coup sûr, pour un travail bien fait, dans les temps.
						li où seul le résultat compte, pas le budget publicité.
					p Validée par la communauté, chaque mission a du sens, et contribue au bien commun.
					a.button Découvrez votre mission
				li
					h3 #[span pour les] Bénévoles
					p Nous valorisons vos contributions :
					ul
						li en vous confiant toujours le pouvoir de décider collectivement ce qui sera fait dans l'association
						li en accueillant avec bienveillance vos contributions spontanées,
						li en vous créditant des budgets pré-alloués à vos accomplissements,
							| pour vous laisser les réattribuer librement parmi les missions disponibles.
					a.button Participer à l'aventure
					//a.button Engagez-vous, r'engagez-vous, qu'on vous dit !

		section
			h2#libertes Notre Conception de la liberté

			ul
				li
					h3 #[span pour les] Projets

					p Nous mettons en pratique la philosophie du Logiciel Libre et nous allons même au-delà.

					p Un logiciel est considéré comme libre lorsque sa licence garantit les libertés suivantes :
					ul
						li
							strong Liberté d'utilisation
							p La liberté d'utiliser le logiciel pour tous usages.

						li
							strong Liberté de dsitribution
							p la liberté de copier le logiciel, donc le partager légalement, y compris à titre gratuit.

						li
							strong Liberté de savoir
							p la liberté d'étudier le logiciel, jusqu'aux moindres détails de son code source,
								| d'un oeil critique pour en vérifier la fiabilité,
								| ou simplement par curiosité intellectuelle.

						li
							strong Liberté de modification
							p la liberté de modifier le logiciel et de redistribuer les versions modifiées, pour propager les corrections et améliorations notamment.

					p Dès lors qu'il y a interaction entre utilisateurs, nous y ajoutons :
					ul
						li
							strong La liberté de la communauté
							p La communauté n'est plus captive, grâce à un logiciel <span title="compatible avec les autres">interopérable</span> et décentralisé.


				li
					h3 #[span pour la] Vie associative
					ul
						li Le choix d'une association dématérialisée : pas de contrainte géographique, ni horaire
						li Un vrai système démocratique sans intermédaire ; les adhérents ont un pouvoir décisonnel important.
						// schéma élection représentants légaux


		section
			h2#fonctionnement Notre fonctionnement
			ul
				li Vue d'ensemble
				li Vie d'un projet
				li Flux financier
				li Vie d'une tâche
				li Prise de décision

	include fragments/footer


