doctype html
html(lang="fr")
   head
      meta(charset="UTF-8")
      title ContribuLibre

   body
      section
         h1
            img(src='image/logo-contribulibre.png', alt='logo Contribulibre')
         h2 Ensemble
         // -#[span Ensemble]#[span , ]#[span libérons l'innovation]
         aside
            p Bien plus qu'une plateforme de <span title="crowdfunding">financement participatif</span>, nous vous apportons la liberté !
            ul
               li La liberté totale pour tous de faire ce que bon vous semble de tout ce qui produit par l'association.
               li La liberté de participer à la réalisation des projets que nous adoptons.
               li La liberté de prendre part à toutes les décisions de l'association.
               li La liberté d'adhérer à l'association, gratuitement, dès maintenant !

            a.button Rejoignez-nous !

            p Association pour la création, la promotion et le financement de projets à buts non lucratifs et libres de droits.

      section
         h2 Notre rôle :
         ul
            li
               h3 #[span pour les] porteurs de projets
               p Nous vous accompagnons dans l'évolution de votre projet pour qu'il profite à tous.
                  | Puis nous l'adoptons pour le propulser vers un financement et une réalisation dans des conditions optimales.

               a.button Proposez un projet

               h3
                  span pour les
                  | donnateurs
               p Nous mettons à votre disposition des outils de financement ciblés pour donner un maximum de sens à vos dons,en vous permettant d'apporter là ou c'est le plus important à vos yeux, sur des projets qui profiterons à tous.
               | Et en bonus vous pourrez le déduire de vos impôts.
               a.button Contribuez maintenant

               h3
                  span pour les
                  | professionels
               ul nous vous apportons un système de réservation :
                  li - qui vous permet de choisir des missions réalisables tout de suite, sans lourdeurs administratives.
                  li - au budget connu d'avance, versé à coup sûr, pour un travail bien fait, dans les temps.
                  li - Où seul le résultat compte, pas le budget publicité.
               p Validée par la communauté, chaque mission a du sens, et contribue au bien commun.
               a.button Découvrez votre mission

               h3
                  span pour les
                  | bénévoles
               ul nous valorisons vos contributions :
                  li - en vous confiant toujours le pouvoir de décider collectivement ce qui sera fait dans l'association
                  li - en accueillant avec bienveillance vos contributions spontanées,
                  li - en vous créditant des budgets de vos accomplissements, pour les réattribuer librement parmi les missions disponibles
               a.button Participer à l'aventure
               a.button Engagez-vous, r'engagez-vous, qu'on vous dit !


//-
   Notre Conception de la liberté

   Pour les projets

   Nous mettons en pratique la philosophie du Logiciel Libre et nous allons même au-delà.

   Un logiciel est considéré comme libre lorsque sa licence garantit les libertés suivantes :


   - Liberté d'utilisation
   La liberté d'utiliser le logiciel pour tous usages.

   - Liberté de dsitribution
   la liberté de copier le logiciel, donc le partager légalement, y compris à titre gratuit.

   - Liberté de savoir
   la liberté d'étudier le logiciel, y compris son code source (open-source) d'un oeil critique pour en vérifier la fiabilité, ou simplement par curiosité intellectuelle.

   - Liberté de modification
   la liberté de modifier le logiciel et de redistribuer les versions modifiées, pour propager les corrections et améliorations notamment.

   Dès lors qu'il y a interaction entre utilisateurs, nous y ajoutons :

   - La liberté de la communauté
   La communauté n'est plus captive, grâce à un logiciel interopérable et désentralisé.


   Pour la vie associative

   - Le choix d'une association dématérialisée : pas de contrainte géographique,ni horaire
   - Un vrai système démocratique sans intermédaire ; les adhérents ont un pouvoir décisonnel important.
.fin